# General
.prettierignore
.solhintignore
.husky
.gitignore
.gitattributes
.env.example
.env
workspace.code-workspace
.DS_STORE
codechecks.yml

# Hardhat
coverage
coverage.json
artifacts
cache
typechained
deployments

# TS Lab
notebooks
python
docs
.ipynb_checkpoints

# JS
node_modules
package-lock.json
yarn.lock

# Solidity
contracts/mock
